

<p class="text-center form-header"> Login</p>
<div class="loader" *ngIf="showSpinner; else login "></div>
<ng-template #login>
  <form [formGroup] = "loginForm"
        (ngSubmit) = 'loginUser()'>
    <p class="alert alert-danger" *ngIf="loginError">User name or password does not exist</p>
    <div class="form-group">
      <label for="authUserName" class="bmd-label-floating">Username</label>
      <input type="email" class="form-control"
             id="authUserName"
             formControlName="username">
      <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
    <div class="form-group">
      <label for="authPassword" class="bmd-label-floating">Password</label>
      <input type="password" class="form-control" id="authPassword"
             formControlName="password">
    </div>
    <button type="submit" class="btn btn-raised btn-success"  [disabled]="!signupForm.valid">Login</button>
<!--
    <p style="margin-top: 10px"> If you do not have an account you have to register <a routerLink="/auth/register" class="text-success" style="text-decoration: none; cursor:pointer">here</a></p>
-->
  </form>
</ng-template>
