/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Cormorant');


body{
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: bolder !important;
  margin: 0 auto;
}

.navbar-light{
  font-weight: bolder;
  color: #1bad20;
}

 form .ng-invalid.ng-touched{
  border-left: 2px solid red;
   font-weight: bolder;

 }

.logo{
  width: 240px;
  height: 50px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.mg_btn_50{
  margin-bottom: 50px;
}

.padding_top_10{
  padding-top: 10px;
}

form label{
 color: #1bad20db !important;
  font-weight: bolder;

}

.form-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1bad20db !important;
}


/*Spinners*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #1bad20;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #1bad20;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.full-width{
  width: 100%;
}

.mg-top-20 {
  margin-top: 20px;
}

.citi-weather-listing p {
  font-size: 30px;
  color: #1bad20db;
  font-weight: 700;
}

.light-green-background{
  background-color: #1bad20db;

}

/*Cities*/
.selected-cities ul{
  padding-left: 0px;
}

.selected-cities  ul li {
  list-style-type: none;
  margin-right: 40px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(35, 243, 40, 0.68);

}

.selected-cities > p{
  font-size: 19px;
  font-weight: bolder;
}

.delete-botton {
  font-size: 14px;
  float: right;
}

.city-name {
  display: inline;
  float: left;
  width: 70%;
}

.clear-fix::after{
  content: "";
  clear: both;
  display: table;

}

button.submit {
  font-size: 14px;
  }

.btn {
  background-color: #1bad20db !important;
  color: white !important;
}



.cityListings .card{
  border: 1px solid rgba(35, 243, 40, 0.68);
  background: #dcedc8;
}

#cityListing li {
  padding: 10px;
  margin-bottom: 20px;
}

.borderError{
  border-left: 4px solid rgba(253, 7, 7, 0.68);
}

.background1 {
  background-image:url("assets/sky-690293_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}
